USE [master]
GO
/****** Object:  Database [demo_tre]    Script Date: 13.05.2025 13:35:23 ******/
CREATE DATABASE [demo_tre]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demo_tre', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\demo_tre.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demo_tre_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\demo_tre_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demo_tre].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demo_tre]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 13.05.2025 13:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_material_type] [nvarchar](250) NOT NULL,
	[procient] [float] NOT NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 13.05.2025 13:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_product_type] [nvarchar](100) NOT NULL,
	[cooficient_product] [float] NOT NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_workshops]    Script Date: 13.05.2025 13:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_workshops](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_product] [nvarchar](400) NOT NULL,
	[id_workshop] [int] NOT NULL,
	[time(m)] [int] NOT NULL,
 CONSTRAINT [PK_Product_workshops] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 13.05.2025 13:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_products_id] [int] NOT NULL,
	[name_product] [nvarchar](300) NOT NULL,
	[articul] [nvarchar](10) NOT NULL,
	[min_cost_seller] [float] NOT NULL,
	[base_material_id] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_workshop]    Script Date: 13.05.2025 13:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_workshop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_workshop] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Type_workshop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshops]    Script Date: 13.05.2025 13:35:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshops](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_workshop] [nvarchar](250) NOT NULL,
	[type_workshop] [int] NOT NULL,
	[count_people] [int] NOT NULL,
 CONSTRAINT [PK_Workshops] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material_type] ON 

INSERT [dbo].[Material_type] ([id], [name_material_type], [procient]) VALUES (1, N'Мебельный щит из массива дерева', 0.8)
INSERT [dbo].[Material_type] ([id], [name_material_type], [procient]) VALUES (2, N'Ламинированное ДСП
', 0.7)
INSERT [dbo].[Material_type] ([id], [name_material_type], [procient]) VALUES (3, N'Фанера', 0.55)
SET IDENTITY_INSERT [dbo].[Material_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_type] ON 

INSERT [dbo].[Product_type] ([id], [name_product_type], [cooficient_product]) VALUES (1, N'Гостиные                                                                                            ', 3.5)
INSERT [dbo].[Product_type] ([id], [name_product_type], [cooficient_product]) VALUES (2, N'Прихожие                                                                                            ', 5.6)
INSERT [dbo].[Product_type] ([id], [name_product_type], [cooficient_product]) VALUES (3, N'Мягкая мебель                                                                                       ', 3)
SET IDENTITY_INSERT [dbo].[Product_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_workshops] ON 

INSERT [dbo].[Product_workshops] ([id], [name_product], [id_workshop], [time(m)]) VALUES (1, N'Кровать с подъемным механизмом с матрасом 1600х2000 Венге', 8, 120)
INSERT [dbo].[Product_workshops] ([id], [name_product], [id_workshop], [time(m)]) VALUES (2, N'Тумба под ТВ ', 8, 162)
INSERT [dbo].[Product_workshops] ([id], [name_product], [id_workshop], [time(m)]) VALUES (3, N'Диван-кровать угловой Книжка', 9, 252)
GO
SET IDENTITY_INSERT [dbo].[Product_workshops] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [type_products_id], [name_product], [articul], [min_cost_seller], [base_material_id]) VALUES (1, 1, N'Комплект мебели для гостиной Ольха горная', N'1549922', 160507, 1)
INSERT [dbo].[Products] ([id], [type_products_id], [name_product], [articul], [min_cost_seller], [base_material_id]) VALUES (2, 1, N'Стенка для гостиной Вишня темная', N'1018556', 216907, 1)
INSERT [dbo].[Products] ([id], [type_products_id], [name_product], [articul], [min_cost_seller], [base_material_id]) VALUES (3, 2, N'Прихожая Венге Винтаж', N'3028272', 24970, 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_workshop] ON 

INSERT [dbo].[Type_workshop] ([id], [type_workshop]) VALUES (1, N'Проектирование')
INSERT [dbo].[Type_workshop] ([id], [type_workshop]) VALUES (2, N'Обработка')
INSERT [dbo].[Type_workshop] ([id], [type_workshop]) VALUES (3, N'Сушка')
SET IDENTITY_INSERT [dbo].[Type_workshop] OFF
GO
SET IDENTITY_INSERT [dbo].[Workshops] ON 

INSERT [dbo].[Workshops] ([id], [name_workshop], [type_workshop], [count_people]) VALUES (1, N'Проектный', 1, 4)
INSERT [dbo].[Workshops] ([id], [name_workshop], [type_workshop], [count_people]) VALUES (2, N'Расчетный', 1, 5)
INSERT [dbo].[Workshops] ([id], [name_workshop], [type_workshop], [count_people]) VALUES (3, N'Раскроя', 2, 5)
SET IDENTITY_INSERT [dbo].[Workshops] OFF
GO
ALTER TABLE [dbo].[Product_workshops]  WITH CHECK ADD  CONSTRAINT [FK_Product_workshops_Workshops] FOREIGN KEY([id_workshop])
REFERENCES [dbo].[Workshops] ([id])
GO
ALTER TABLE [dbo].[Product_workshops] CHECK CONSTRAINT [FK_Product_workshops_Workshops]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Material_type] FOREIGN KEY([base_material_id])
REFERENCES [dbo].[Material_type] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Material_type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_type] FOREIGN KEY([type_products_id])
REFERENCES [dbo].[Product_type] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_type]
GO
ALTER TABLE [dbo].[Workshops]  WITH CHECK ADD  CONSTRAINT [FK_Workshops_Type_workshop] FOREIGN KEY([type_workshop])
REFERENCES [dbo].[Type_workshop] ([id])
GO
ALTER TABLE [dbo].[Workshops] CHECK CONSTRAINT [FK_Workshops_Type_workshop]
GO
USE [master]
GO
